In [18]:
import pandas as pd
import numpy as np 
import scipy
from scipy import stats
import statsmodels.api as sm

# Cutlet

In [19]:
#   IF Myu1 = Myu2 i.e diameters are equal   NULL HYPOTHESIS
#   If Myu1 != Myu2 i.e diameters are not equal ALTERNATIVE HYPOTHESIS

In [20]:
cutlet = pd.read_csv('/content/Cutlets.csv')
cutlet

    Unit A  Unit B
0   6.8090  6.7703
1   6.4376  7.5093
2   6.9157  6.7300
3   7.3012  6.7878
4   7.4488  7.1522
5   7.3871  6.8110
6   6.8755  7.2212
7   7.0621  6.6606
8   6.6840  7.2402
9   6.8236  7.0503
10  7.3930  6.8810
11  7.5169  7.4059
12  6.9246  6.7652
13  6.9256  6.0380
14  6.5797  7.1581
15  6.8394  7.0240
16  6.5970  6.6672
17  7.2705  7.4314
18  7.2828  7.3070
19  7.3495  6.7478
20  6.9438  6.8889
21  7.1560  7.4220
22  6.5341  6.5217
23  7.2854  7.1688
24  6.9952  6.7594
25  6.8568  6.9399
26  7.2163  7.0133
27  6.6801  6.9182
28  6.9431  6.3346
29  7.0852  7.5459
30  6.7794  7.0992
31  7.2783  7.1180
32  7.1561  6.6965
33  7.3943  6.5780
34  6.9405  7.3875

In [21]:
unit1 = cutlet['Unit A']
unit1

0     6.8090
1     6.4376
2     6.9157
3     7.3012
4     7.4488
5     7.3871
6     6.8755
7     7.0621
8     6.6840
9     6.8236
10    7.3930
11    7.5169
12    6.9246
13    6.9256
14    6.5797
15    6.8394
16    6.5970
17    7.2705
18    7.2828
19    7.3495
20    6.9438
21    7.1560
22    6.5341
23    7.2854
24    6.9952
25    6.8568
26    7.2163
27    6.6801
28    6.9431
29    7.0852
30    6.7794
31    7.2783
32    7.1561
33    7.3943
34    6.9405
Name: Unit A, dtype: float64

In [22]:
unit2 =cutlet['Unit B']
unit2

0     6.7703
1     7.5093
2     6.7300
3     6.7878
4     7.1522
5     6.8110
6     7.2212
7     6.6606
8     7.2402
9     7.0503
10    6.8810
11    7.4059
12    6.7652
13    6.0380
14    7.1581
15    7.0240
16    6.6672
17    7.4314
18    7.3070
19    6.7478
20    6.8889
21    7.4220
22    6.5217
23    7.1688
24    6.7594
25    6.9399
26    7.0133
27    6.9182
28    6.3346
29    7.5459
30    7.0992
31    7.1180
32    6.6965
33    6.5780
34    7.3875
Name: Unit B, dtype: float64

In [23]:
pvalue =stats.ttest_ind(unit1,unit2)[1]
pvalue

0.4722394724599501

In [24]:
if pvalue<0.05:
  print('h0 is rejected')
else:
  print('accept h1')

accept h1

In [25]:
#  Hence this is alternative hypothesis
# Because 5% sigficance is alpha 0.05 default value we campare pvalue with alpha (0.05).
# Inferences : There is significance difference in the diameter of the cutlets

# Tatlab

In [26]:
tatlab = pd.read_csv('/content/LabTAT.csv')
tatlab

     Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0          185.35        165.53        176.70        166.13
1          170.49        185.91        198.45        160.79
2          192.77        194.92        201.23        185.18
3          177.33        183.00        199.61        176.42
4          193.41        169.57        204.63        152.60
..            ...           ...           ...           ...
115        178.49        170.66        193.80        172.68
116        176.08        183.98        215.25        177.64
117        202.48        174.54        203.99        170.27
118        182.40        197.18        194.52        150.87
119        182.09        215.17        221.49        162.21

[120 rows x 4 columns]

In [38]:
# Now performing Anova testing

tat = pd.DataFrame(tatlab)
pval=stats.f_oneway(tat.iloc[:,0],tat.iloc[:,1],tat.iloc[:,2],tat.iloc[:,3])

In [39]:
pval

F_onewayResult(statistic=118.70421654401437, pvalue=2.1156708949992414e-57)

In [40]:
pval[1]

2.1156708949992414e-57

In [41]:
if pval[1]<0.05:
  print('Reject null hypothesis Ho')
else:
  print('Failed to reject null hypothesis,Accept H1')

Reject null hypothesis Ho

# Buyers Ratios

In [29]:
from scipy.stats import chi2_contingency
from matplotlib import pyplot as plt

In [43]:
buyers = pd.read_csv('/content/BuyerRatio.csv')
buyers

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [44]:
buy = buyers.iloc[:,1:6]
buy

   East  West  North  South
0    50   142    131     70
1   435  1523   1356    750

In [45]:
chi2_contingency(buy)

Chi2ContingencyResult(statistic=1.595945538661058, pvalue=0.6603094907091882, dof=3, expected_freq=array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
       [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]]))

In [56]:
buyy=chi2_contingency(buy)

In [57]:
buyy

Chi2ContingencyResult(statistic=1.595945538661058, pvalue=0.6603094907091882, dof=3, expected_freq=array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
       [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]]))

In [58]:
buyy[1]

0.6603094907091882

In [59]:
if buyy[1]<0.05:
  print('reject Ho')
else:
  print('accept Ha') #as buyy value is greater than alpha,therefore proportions are not equal

accept Ha

# Customer Order

In [48]:
cust = pd.read_csv('/content/Costomer+OrderForm.csv')
cust

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [49]:
cust['Phillippines'].value_counts()

Error Free    271
Defective      29
Name: Phillippines, dtype: int64

In [50]:
cust['Indonesia'].value_counts()

Error Free    267
Defective      33
Name: Indonesia, dtype: int64

In [51]:
cust['Malta'].value_counts()

Error Free    269
Defective      31
Name: Malta, dtype: int64

In [52]:
cust['India'].value_counts()

Error Free    280
Defective      20
Name: India, dtype: int64

In [53]:
custe = ([[271,267,269,280],[29,33,31,20]])
custe

[[271, 267, 269, 280], [29, 33, 31, 20]]

In [54]:
order = pd.DataFrame(custe,index=['Error-Free','Defective'],
                         columns=['Phillippines','Indonesia','Malta','India'])
order

            Phillippines  Indonesia  Malta  India
Error-Free           271        267    269    280
Defective             29         33     31     20

In [61]:
pvalue=stats.chi2_contingency(order)

In [63]:
pvalue

Chi2ContingencyResult(statistic=3.858960685820355, pvalue=0.2771020991233135, dof=3, expected_freq=array([[271.75, 271.75, 271.75, 271.75],
       [ 28.25,  28.25,  28.25,  28.25]]))

In [62]:
pvalue[1]

0.2771020991233135

In [64]:
if pvalue[1]<0.05:
 print('reject Ho')
else:
  print('accept H1')

accept H1